body {
  margin-top: 50px;
 /*  background: black;*/
}
/*#menu1,#menu2,#menu3{
  color: white;
}

 */
#pointsdisplay {
  height: 10%;
}

.ui.grid {
  height: 100%;
}

.ui.segment.raised{

}

#taskdate{
  text-align: center;
}
